<div class="container">
   <div class="row d-flex">
      <div class="col d-flex">
         <mat-card>
            <mat-card-content>
               <button mat-fab color="primary" class="pulse">
                  <mat-icon>edit</mat-icon>
               </button>
               <h2 class="title">
                  Edit
               </h2>
               <h3>Edit your existing planifications</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam tempore ex aliquid saepe neque dolore nesciunt
                  architecto consequatur? Maiores voluptate saepe animi voluptatum sunt sed iure voluptas ipsum necessitatibus!
                  Facilis, ipsam. Commodi possimus tempore porro alias iure et laborum iste tenetur reiciendis rerum incidunt
                  quis repellendus eveniet, adipisci veritatis similique voluptatibus necessitatibus numquam mollitia officia?
                  Quas, maiores? Voluptas illum voluptatum ea tenetur non, molestiae velit modi, repellat soluta facere reprehenderit
                  minus veritatis aliquam, tempora quam repudiandae. Eveniet distinctio fugiat harum debitis doloribus incidunt
                  quibusdam velit odit hic voluptas. Exercitationem unde culpa aut ab architecto eos id sit maiores itaque,
                  mollitia molestiae repellat quasi quas hic fugit quo reiciendis modi nobis error, vel ad officiis voluptate?
                  Quae quam voluptate inventore ex. Quod est minima delectus eum, dolores nihil odit ea facilis ipsam illum
                  dolor fuga iste totam. Molestias quas quo fuga cum at eaque eligendi qui voluptate laboriosam aperiam quidem
                  id veritatis quisquam delectus quia, debitis, ex reiciendis? Ducimus ipsum nemo architecto. Necessitatibus,
                  dicta dolorem sapiente sit cumque ducimus corporis laboriosam eum, consectetur error rem, optio illum ex.
                  Facilis, minima, odit dolore repellendus minus eaque velit, asperiores quos dolorem quia consequuntur optio!
                  Nobis magnam consequuntur aut eos natus a harum. Nobis.</p>
            </mat-card-content>
         </mat-card>
      </div>
   </div>
</div>
