<h2 mat-dialog-title>{{ data.card_title }}</h2>
<form form #dialogForm="ngForm" (ngSubmit)="onSubmit()">
   <mat-dialog-content>
      <mat-form-field>
         <input matInput [(ngModel)]="data.new_task.name" placeholder="Name" name="name" required>
      </mat-form-field>
      <mat-form-field>
         <mat-select [(value)]="data.new_task.status" [(ngModel)]="data.new_task.status" name="status">
            <mat-option value="pending">pending</mat-option>
            <mat-option value="ongoing">ongoing</mat-option>
            <mat-option value="completed">completed</mat-option>
         </mat-select>
      </mat-form-field>
   </mat-dialog-content>
   <mat-dialog-actions>
      <button mat-button mat-dialog-close>No</button>
      <!-- Can optionally provide a result for the closing dialog. -->
      <button mat-button [mat-dialog-close]="data" type="submit" [disabled]="!dialogForm.form.valid">Yes</button>
   </mat-dialog-actions>
</form>
