// mat-sidenav {
//     min-width: 250px;
// }

.side-btn {
    width: 100%;
    font-size: 1.4em;
}

.spacer {
    padding-bottom: 3em;
}

mat-icon {
  margin-bottom: 5px;
}

mat-sidenav {
    min-width: 300px;
}
