.side-btn {
   width: 100%;
   font-size: 1.4em;
}

.spacer {
   padding-bottom: 3em;
}

ul {
   list-style-type: none;
   padding: 0;
}

mat-icon {
   margin-bottom: 5px;
}

mat-sidenav {
   max-width: 80%;
   min-width: 60%;
}

#content {
   margin-top: 64px;
   height: 100%;
}

@media(max-width: 600px) {
   #content {
      margin-top: 56px;
   }
}
