<!-- SideNav for mobile -->
<!-- <section class="mat-typography">
   <ul id="slide-out" class="side-nav">
      <li *ngFor="let element of elements" routerLinkActive="active">
         <a [routerLink]="[element.routerLink]">{{element.name}}</a>
      </li>
   </ul>
</section> -->

<mat-sidenav-container>

   <app-header></app-header>

   <mat-sidenav class="mat-elevation-z5" [(opened)]="sharingService.opened" (close)="sharingService.opened = false">
      <ul>
         <li *ngFor="let element of elements" [routerLink]="element.routerLink">
            <button class="side-btn" (click)="sharingService.opened = false" mat-button>{{element.name}}</button>
         </li>
      </ul>
   </mat-sidenav>

   <div *ngIf="!spacing" class="spacer"></div>
   
   <!-- Applying the mat-typography class adds styles for native elements. -->
   <section class="mat-typography">       
      <router-outlet></router-outlet>
   </section>

   <app-footer></app-footer>

</mat-sidenav-container>
