button {
   position: relative;
   z-index: 2;
   margin-bottom: 2em;
}

mat-grid-list {
   position: relative;
   z-index: 1;
}

mat-card {
   width: 98%;
   height: 98%;
}

masonry {
   margin: 0 auto;
}

masonry-brick {
   margin-bottom: 2em;
   width: 270px;
}

mat-card-title p {
   word-wrap: break-word;
}

mat-progress-spinner {
   margin: 15% auto;
}

mat-radio-button {
   padding: 1em 1em;
}

.fab-btn {
   position: fixed;
   bottom: 5%;
   right: 5%;
}

@media(max-width: 720px) {
   .fab-btn {
      bottom: 0;
      right: 2rem;
   }
}
