button {
    position: relative;
    z-index: 2;
    margin-bottom: 2em;
}

mat-grid-list {
    position: relative;
    z-index: 1;
}

mat-card {
    width: 98%;
    height: 98%;
}

#cards {
    margin-bottom: 2em;
}

mat-spinner {
    margin: 15% auto;
}