<div class="container">

   <button mat-raised-button color="accent" (click)="openDialog()">Add Todo</button>

      <div class="row">
          <div id="cards" *ngFor="let task of tasks" class="col-lg-3">
             <mat-card>
                <mat-card-content>
                   <mat-card-title>
                      <p>{{task.name}}</p>
                   </mat-card-title>
                   <p>id: {{task._id}}</p>
                   <p>{{task.status}}</p>
                   <p>{{task.creation_date | date}}</p>
                </mat-card-content>
                <mat-card-actions>
                   <button mat-button color="primary" (click)="delete(task._id)">DELETE</button>
                   <button mat-button color="primary" (click)="update(task)">UPDATE</button>
                </mat-card-actions>
             </mat-card>
          </div>
      </div>
</div>
