<nav class="navbar">

    <mat-toolbar class="mat-elevation-z8" color="primary">

        <div *ngFor='let element of elements'>
            <a [routerLink]="element.routerLink">
                <button mat-button class="button-bump"
                        [class.main]="element.main"
                        [class.secondary]="!element.main"
                        [ngClass]="element.height"
                        (mouseover)="element.height='mat-elevation-z8'"
                        (mouseleave)="element.height='flat'" 
                        (click)="activate(element)"
                        [class.mat-elevation-z6]="element.isActive">
                    {{element.name}}
                </button>
            </a>
        </div>

        <span class="spacer"></span>
        <button mat-icon-button color="accent" matTooltip="invert color" [matTooltipPosition]="'before'">
            <mat-icon (click)="darkTheme()">invert_colors</mat-icon>
        </button>
    </mat-toolbar>
</nav>