.navbar {
   padding-bottom: 1em;
}

.main {
  font-size: 1em;
}

.secondary {
  font-size: .9em;
}

.make-it-slow {
  transition: box-shadow 0.3s ease-in-out;
}

/* Transition to a bigger shadow on hover */
.make-it-slow:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.make-it-slow:active {
   box-shadow: 0 5px 15px rgba(0,0,0,0.3) !important;
 }

a {
  color:inherit;
  text-decoration: none;
 }

.icon {
  padding: 0 14px;
}

.spacer {
  flex: 1 1 auto;
}
