<mat-toolbar id="header" class="mat-elevation-z6" color="primary">

   <!-- Burger button for Angular Material sidenav -->
   <button id="burger-btn" mat-icon-button (click)="sharingService.opened = !sharingService.opened">
      <mat-icon>menu</mat-icon>
   </button>

   <!-- Navbar Buttons -->
   <a *ngFor='let element of elements' class="menu-element" [routerLink]="element.routerLink">
      <button mat-button class="button-bump" [class.main]="element.isMain" [class.secondary]="!element.isMain" [ngClass]="element.height"
         (mouseover)="element.height='mat-elevation-z8'" (mouseleave)="element.height='flat'" [class.mat-elevation-z6]="!this.router.url.indexOf(element.routerLink)">
         {{element.name}}
      </button>
   </a>

   <!-- Push the content to the right of the navbar -->
   <span class="spacer"></span>

   <!-- Invert Button -->
   <button id="invert" mat-icon-button color="accent" matTooltip="invert color" [matTooltipPosition]="'before'" [matMenuTriggerFor]="menu">
      <mat-icon>invert_colors</mat-icon>
   </button>
   <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="switchTheme('blue')">
         <div class="circle blue"></div>
      </button>
      <button mat-menu-item (click)="switchTheme('orange')">
         <div class="circle orange"></div>
      </button>
      <button mat-menu-item (click)="switchTheme('yellow')">
         <div class="circle yellow"></div>
      </button>
   </mat-menu>

</mat-toolbar>
