<nav class="navbar">

    <mat-toolbar class="mat-elevation-z8" color="primary">

        <a routerLink="/home">
            <button mat-button class="main button-bump">Contintegration</button>
        </a>
        <a routerLink="/welcome">
            <button mat-button class="secondary button-bump">Welcome</button>
        </a>
        <a routerLink="/calendar">
            <button mat-button class="secondary button-bump">Calendar</button>
        </a>

        <span class="spacer"></span>

        <mat-slide-toggle aria-label="change theme" [checked]="checked" (change)="darkTheme($event)">Dark Theme</mat-slide-toggle>

    </mat-toolbar>
</nav>
