/* You can add global styles to this file, and also import other style files */

html, body, material-app, mat-sidenav-container, .my-content {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
   text-align: center;
}

.center {
	position: absolute;
    left: 50%; /*postition from its parent */
    transform: translate(-50%, 0%); /* 50% offset from its own size */
}
